pipeline/PL_COPY_ONPREM_TABLES_TO_ADLS.json
{
	"name": "PL_COPY_ONPREM_TABLES_TO_ADLS",
	"properties": {
		"activities": [
			{
				"name": "ACT_LOOK_UP_TABLE_NAMES",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_TABLE_NAMES",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_DS_ADLS_CONTAINER_NAME": {
								"value": "@pipeline().parameters.PARAM_ADLS_CONTAINER_NAME",
								"type": "Expression"
							},
							"PARAM_DS_ADLS_TABLE_NAMES_FILE": {
								"value": "@pipeline().parameters.PARAM_ADLS_TABLE_NAMES_FILE",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ACT_FOR_EACH_TABLE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_LOOK_UP_TABLE_NAMES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_LOOK_UP_TABLE_NAMES').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ACT_COPY_ONPREM_TABLES_TO_ADLS_PARQUET",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().SCHEMA_NAME}.@{item().TABLE_NAME}"
								},
								{
									"name": "Destination",
									"value": "@{pipeline().parameters.PARAM_ADLS_CONTAINER_NAME}/@{concat(pipeline().parameters.PARAM_ADLS_PARQUET_FOLDER_NAME,'/',concat(item().SCHEMA_NAME,'.',item().TABLE_NAME))}/@{concat(concat(item().SCHEMA_NAME,'.',item().TABLE_NAME),'.parquet')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_ONPREM",
									"type": "DatasetReference",
									"parameters": {
										"PARAM_DS_SQL_SERVER_NAME": {
											"value": "@pipeline().parameters.PARAM_SQL_SERVER_NAME",
											"type": "Expression"
										},
										"PARAM_DS_SQL_DATABASE_NAME": {
											"value": "@item().DATABASE_NAME",
											"type": "Expression"
										},
										"PARAM_DS_SQL_USER_NAME": {
											"value": "@pipeline().parameters.PARAM_SQL_USER_NAME",
											"type": "Expression"
										},
										"PARAM_DS_SQL_PWD": {
											"value": "@pipeline().parameters.PARAM_SQL_PWD",
											"type": "Expression"
										},
										"PARAM_DS_SCHEMA_NAME": {
											"value": "@item().SCHEMA_NAME",
											"type": "Expression"
										},
										"PARAM_DS_TABLE_NAME": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_DATA_REPLICATION",
									"type": "DatasetReference",
									"parameters": {
										"PARAM_DS_ADLS_CONTAINER_NAME": {
											"value": "@pipeline().parameters.PARAM_ADLS_CONTAINER_NAME",
											"type": "Expression"
										},
										"PARAM_DS_ADLS_PARQUET_FOLDER_NAME": {
											"value": "@pipeline().parameters.PARAM_ADLS_PARQUET_FOLDER_NAME",
											"type": "Expression"
										},
										"PARAM_DS_ADLS_FILE_NAME": {
											"value": "@concat(item().SCHEMA_NAME,'.',item().TABLE_NAME)",
											"type": "Expression"
										},
										"PARAM_DS_ADLS_DB_FOLDER_NAME": {
											"value": "@item().DATABASE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DF_PARQUET_TO_DELTA",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "ACT_COPY_ONPREM_TABLES_TO_ADLS_PARQUET",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_PARQUET_TO_DELTA",
									"type": "DataFlowReference",
									"parameters": {
										"PARAM_DF_DELTA_FOLDER_NAME": {
											"value": "'@{pipeline().parameters.PARAM_ADLS_DELTA_FOLDER_NAME}'",
											"type": "Expression"
										},
										"PARAM_DF_CONTAINER_NAME": {
											"value": "'@{pipeline().parameters.PARAM_ADLS_CONTAINER_NAME}'",
											"type": "Expression"
										},
										"PARAM_DF_FILE_NAME": {
											"value": "'@{concat(item().SCHEMA_NAME,'.',item().TABLE_NAME)}'",
											"type": "Expression"
										},
										"PARAM_DF_DB_FOLDER_NAME": {
											"value": "'@{item().DATABASE_NAME}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"PARQUETFILE": {
											"PARAM_DS_ADLS_CONTAINER_NAME": {
												"value": "@pipeline().parameters.PARAM_ADLS_CONTAINER_NAME",
												"type": "Expression"
											},
											"PARAM_DS_ADLS_PARQUET_FOLDER_NAME": {
												"value": "@pipeline().parameters.PARAM_ADLS_PARQUET_FOLDER_NAME",
												"type": "Expression"
											},
											"PARAM_DS_ADLS_FILE_NAME": {
												"value": "@concat(item().SCHEMA_NAME,'.',item().TABLE_NAME)",
												"type": "Expression"
											},
											"PARAM_DS_ADLS_DB_FOLDER_NAME": {
												"value": "@item().DATABASE_NAME",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"PARAM_SQL_SERVER_NAME": {
				"type": "string",
				"defaultValue": "localhost"
			},
			"PARAM_SQL_USER_NAME": {
				"type": "string",
				"defaultValue": "c2suser"
			},
			"PARAM_SQL_PWD": {
				"type": "string",
				"defaultValue": "C2S@20232023!"
			},
			"PARAM_ADLS_PARQUET_FOLDER_NAME": {
				"type": "string",
				"defaultValue": "parquetfiles"
			},
			"PARAM_ADLS_DELTA_FOLDER_NAME": {
				"type": "string",
				"defaultValue": "deltafiles"
			},
			"PARAM_ADLS_CONTAINER_NAME": {
				"type": "string",
				"defaultValue": "tfadlsdatareplicationdev01"
			},
			"PARAM_ADLS_TABLE_NAMES_FILE": {
				"type": "String",
				"defaultValue": "table_names.csv"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-01-08T21:23:21Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}