pipeline/PL_CSV_TO_SQL_TABLE.json
{
	"name": "PL_CSV_TO_SQL_TABLE",
	"properties": {
		"activities": [
			{
				"name": "ACT_LOOK_UP_TABLE_NAMES",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_TABLE_NAMES",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_DS_ADLS_CONTAINER_NAME": {
								"value": "@pipeline().parameters.PARAM_ADLS_CONTAINER_NAME",
								"type": "Expression"
							},
							"PARAM_DS_ADLS_TABLE_NAMES_FILE": {
								"value": "@pipeline().parameters.PARAM_ADLS_TABLE_NAMES_FILE",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ACT_FOR_EACH_TABLE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_LOOK_UP_TABLE_NAMES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_LOOK_UP_TABLE_NAMES').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ACT_COPY_CSV_TO_SQL_TABLE",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{pipeline().parameters.PARAM_ADLS_CONTAINER_NAME}//@{concat(pipeline().parameters.PARAM_SCHEMA_NAME,'.',item().TABLE_NAME,'.csv')}"
								},
								{
									"name": "Destination",
									"value": "@{pipeline().parameters.PARAM_SCHEMA_NAME}.@{'item().TABLE_NAME'}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_TABLE_CSV",
									"type": "DatasetReference",
									"parameters": {
										"PARAM_FILE_NAME": {
											"value": "@concat(pipeline().parameters.PARAM_SCHEMA_NAME,'.',item().TABLE_NAME,'.csv')",
											"type": "Expression"
										},
										"PARAM_CONTAINER_NAME": {
											"value": "@pipeline().parameters.PARAM_ADLS_CONTAINER_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_ONPREM",
									"type": "DatasetReference",
									"parameters": {
										"PARAM_DS_SQL_SERVER_NAME": {
											"value": "@pipeline().parameters.PARAM_SQL_SERVER_NAME",
											"type": "Expression"
										},
										"PARAM_DS_SQL_DATABASE_NAME": {
											"value": "@pipeline().parameters.PARAM_DATABASE_NAME",
											"type": "Expression"
										},
										"PARAM_DS_SQL_USER_NAME": {
											"value": "@pipeline().parameters.PARAM_SQL_USER_NAME",
											"type": "Expression"
										},
										"PARAM_DS_SQL_PWD": {
											"value": "@pipeline().parameters.PARAM_SQL_PWD",
											"type": "Expression"
										},
										"PARAM_DS_SCHEMA_NAME": {
											"value": "@pipeline().parameters.PARAM_SCHEMA_NAME",
											"type": "Expression"
										},
										"PARAM_DS_TABLE_NAME": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"PARAM_SQL_SERVER_NAME": {
				"type": "string",
				"defaultValue": "localhost"
			},
			"PARAM_SQL_USER_NAME": {
				"type": "string",
				"defaultValue": "c2suser"
			},
			"PARAM_SQL_PWD": {
				"type": "string",
				"defaultValue": "C2S@20232023!"
			},
			"PARAM_ADLS_PARQUET_FOLDER_NAME": {
				"type": "string",
				"defaultValue": "parquetfiles"
			},
			"PARAM_ADLS_DELTA_FOLDER_NAME": {
				"type": "string",
				"defaultValue": "deltafiles"
			},
			"PARAM_ADLS_CONTAINER_NAME": {
				"type": "string",
				"defaultValue": "recordchange"
			},
			"PARAM_ADLS_TABLE_NAMES_FILE": {
				"type": "String",
				"defaultValue": "table_names.csv"
			},
			"PARAM_SCHEMA_NAME": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"PARAM_DATABASE_NAME": {
				"type": "string",
				"defaultValue": "record_change"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-01-12T20:46:21Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}