pipeline/test2PL_COPY_ONPREM_TABLES_TO_ASQL_copy1.json
{
	"name": "test2PL_COPY_ONPREM_TABLES_TO_ASQL_copy1",
	"properties": {
		"description": "This pipeline copies the tables listed in table_names.csv from on-premise databases to the Azure SQL Database, where they can be reused whenever those tables are required instead of querying the on-premise server.",
		"activities": [
			{
				"name": "ACT_LOOK_UP_TABLE_NAMES",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_TABLE_NAMES",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_DS_ADLS_CONTAINER_NAME": {
								"value": "@pipeline().parameters.PARAM_ADLS_CONTAINER_NAME",
								"type": "Expression"
							},
							"PARAM_DS_ADLS_TABLE_NAMES_FILE": {
								"value": "@pipeline().parameters.PARAM_ADLS_TABLE_NAMES_FILE",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ACT_FOR_EACH_TABLE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_LOOK_UP_TABLE_NAMES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_LOOK_UP_TABLE_NAMES').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ACT_COPY_ONPREM_TABLES_TO_ASQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().SCHEMA_NAME}.@{item().TABLE_NAME}"
								},
								{
									"name": "Destination",
									"value": "@{item().SCHEMA_NAME}.@{item().TABLE_NAME}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM ',\n        item().SCHEMA_NAME,\n        '.',\n        item().TABLE_NAME,\n        ' WITH (NOLOCK) WHERE ',\n        item().DATE_COLUMN_NAME,\n        ' < ''',\n        if(greaterOrEquals(int(substring(utcNow(), 5, 2)), 6), \n             concat(\n                string(sub(int(substring(utcNow(), 0, 4)), 5)), \n                '-06-01'\n                ), \n            concat(\n                string(sub(int(substring(utcNow(), 0, 4)), 6)), \n                '-06-01'\n                )\n        ), \n    '''')\n\n  ",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('TRUNCATE TABLE ',\nitem().SCHEMA_NAME,\n'.',\nitem().TABLE_NAME,\n'_test')}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_ONPREM",
									"type": "DatasetReference",
									"parameters": {
										"PARAM_DS_SQL_SERVER_NAME": {
											"value": "@pipeline().parameters.PARAM_SQL_SERVER_NAME",
											"type": "Expression"
										},
										"PARAM_DS_SQL_DATABASE_NAME": {
											"value": "PROD_R1",
											"type": "Expression"
										},
										"PARAM_DS_SQL_USER_NAME": {
											"value": "@pipeline().parameters.PARAM_SQL_USER_NAME",
											"type": "Expression"
										},
										"PARAM_DS_SQL_PWD": {
											"value": "@pipeline().parameters.PARAM_SQL_PWD",
											"type": "Expression"
										},
										"PARAM_DS_SCHEMA_NAME": {
											"value": "@item().SCHEMA_NAME",
											"type": "Expression"
										},
										"PARAM_DS_TABLE_NAME": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ASQL_DATA_REPLICATION",
									"type": "DatasetReference",
									"parameters": {
										"PARAM_DS_ASQL_PWD": {
											"value": "@pipeline().parameters.PARAM_ASQL_PWD",
											"type": "Expression"
										},
										"PARAM_DS_AZURE_SQL_SERVER_NAME": {
											"value": "@pipeline().parameters.PARAM_AZURE_SQL_SERVER_NAME",
											"type": "Expression"
										},
										"PARAM_DS_AZURE_SQL_DATABASE_NAME": {
											"value": "@item().DATABASE_NAME",
											"type": "Expression"
										},
										"PARAM_DS_AZURE_SQL_USERNAME": {
											"value": "@pipeline().parameters.PARAM_AZURE_SQL_USERNAME",
											"type": "Expression"
										},
										"DS_SCHEMA_NAME": {
											"value": "@item().SCHEMA_NAME",
											"type": "Expression"
										},
										"DS_TABLE_NAME": {
											"value": "@concat(item().TABLE_NAME,'_test')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"PARAM_SQL_SERVER_NAME": {
				"type": "string",
				"defaultValue": "Sqlserver-fdr-s"
			},
			"PARAM_SQL_USER_NAME": {
				"type": "string",
				"defaultValue": "demouser"
			},
			"PARAM_SQL_PWD": {
				"type": "string",
				"defaultValue": "Testingc2s@123"
			},
			"PARAM_ADLS_CONTAINER_NAME": {
				"type": "String",
				"defaultValue": "fdr"
			},
			"PARAM_ADLS_TABLE_NAMES_FILE": {
				"type": "string",
				"defaultValue": "table_names_1.csv"
			},
			"PARAM_AZURE_SQL_SERVER_NAME": {
				"type": "string",
				"defaultValue": "test-db-server-01.database.windows.net"
			},
			"PARAM_AZURE_SQL_USERNAME": {
				"type": "string",
				"defaultValue": "demouser"
			},
			"PARAM_ASQL_PWD": {
				"type": "string",
				"defaultValue": "Testingc2s@123"
			},
			"PARAM_CUT_OFF_DATE": {
				"type": "string",
				"defaultValue": "01-01-2021"
			}
		},
		"folder": {
			"name": "DATA REPLICATION"
		},
		"annotations": [
			"OnPremSQL"
		],
		"lastPublishTime": "2024-03-22T23:06:52Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}