pipeline/v0_2_EXP_INCREMENTAL_COPY_MULTIPLE_TABLES.json
{
	"name": "v0_2_EXP_INCREMENTAL_COPY_MULTIPLE_TABLES",
	"properties": {
		"activities": [
			{
				"name": "ACT_LOOKUP_LAST_CHANGE_TRACKING_VERSION",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_LOOK_UP_TABLE_NAMES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CHANGE_TRACKING_VERSION",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_DS_SQL_SERVER_NAME": {
								"value": "@pipeline().parameters.PARAM_SQL_SERVER_NAME",
								"type": "Expression"
							},
							"PARAM_DS_SQL_DATABASE_NAME": "PROD_R",
							"PARAM_DS_SQL_USER_NAME": {
								"value": "@pipeline().parameters.PARAM_SQL_USER_NAME",
								"type": "Expression"
							},
							"PARAM_DS_SQL_PWD": {
								"value": "@pipeline().parameters.PARAM_SQL_PWD",
								"type": "Expression"
							},
							"PARAM_DS_SCHEMA_NAME": "dbo",
							"PARAM_DS_TABLE_NAME": "LAST_CHANGE_TRACKING_VERSION"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ACT_LOOKUP_CURRENT_CHANGE_TRACKING_VERSION",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_LOOK_UP_TABLE_NAMES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_ONPREM",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_DS_SQL_SERVER_NAME": {
								"value": "@pipeline().parameters.PARAM_SQL_SERVER_NAME",
								"type": "Expression"
							},
							"PARAM_DS_SQL_DATABASE_NAME": "PROD_R",
							"PARAM_DS_SQL_USER_NAME": {
								"value": "@pipeline().parameters.PARAM_SQL_USER_NAME",
								"type": "Expression"
							},
							"PARAM_DS_SQL_PWD": {
								"value": "@pipeline().parameters.PARAM_SQL_PWD",
								"type": "Expression"
							},
							"PARAM_DS_SCHEMA_NAME": " ",
							"PARAM_DS_TABLE_NAME": " "
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ACT_LOOK_UP_TABLE_NAMES",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_TABLE_NAMES",
						"type": "DatasetReference",
						"parameters": {
							"PARAM_DS_ADLS_CONTAINER_NAME": {
								"value": "@pipeline().parameters.PARAM_ADLS_CONTAINER_NAME",
								"type": "Expression"
							},
							"PARAM_DS_ADLS_TABLE_NAMES_FILE": {
								"value": "@pipeline().parameters.PARAM_ADLS_TABLE_NAMES_FILE",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ACT_FOR_EACH_TABLE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_LOOKUP_LAST_CHANGE_TRACKING_VERSION",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACT_LOOKUP_CURRENT_CHANGE_TRACKING_VERSION",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_LOOK_UP_TABLE_NAMES').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ACT_COPY_CT_RECORDS_TO_ASQL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LOOKUP_PRIMARY_KEYS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().SCHEMA_NAME}.@{item().TABLE_NAME}"
								},
								{
									"name": "Destination",
									"value": "@{item().SCHEMA_NAME\r\n}.@{item().TABLE_NAME}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderStoredProcedureName": "[dbo].[sp_copy_ct_records]",
									"storedProcedureParameters": {
										"CurrentChangeTrackingVersion": {
											"type": "Int64",
											"value": {
												"value": "@activity('ACT_LOOKUP_CURRENT_CHANGE_TRACKING_VERSION').output.firstRow.CurrentChangeTrackingVersion",
												"type": "Expression"
											}
										},
										"LastChangeTrackingVersion": {
											"type": "Int64",
											"value": {
												"value": "@activity('ACT_LOOKUP_LAST_CHANGE_TRACKING_VERSION').output.value[0].SYS_CHANGE_VERSION",
												"type": "Expression"
											}
										},
										"PrimaryKeys": {
											"type": "String",
											"value": {
												"value": "@activity('LOOKUP_PRIMARY_KEYS').output.value[0].COLUMN_NAME",
												"type": "Expression"
											}
										},
										"SchemaName": {
											"type": "String",
											"value": {
												"value": "@item().SCHEMA_NAME",
												"type": "Expression"
											}
										},
										"TableName": {
											"type": "String",
											"value": {
												"value": "@item().TABLE_NAME",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": {
											"value": "@array(activity('LOOKUP_PRIMARY_KEYS').output.value[0].COLUMN_NAME)",
											"type": "Expression"
										}
									},
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_ONPREM",
									"type": "DatasetReference",
									"parameters": {
										"PARAM_DS_SQL_SERVER_NAME": {
											"value": "@pipeline().parameters.PARAM_SQL_SERVER_NAME",
											"type": "Expression"
										},
										"PARAM_DS_SQL_DATABASE_NAME": {
											"value": "@item().DATABASE_NAME",
											"type": "Expression"
										},
										"PARAM_DS_SQL_USER_NAME": {
											"value": "@pipeline().parameters.PARAM_SQL_USER_NAME",
											"type": "Expression"
										},
										"PARAM_DS_SQL_PWD": {
											"value": "@pipeline().parameters.PARAM_SQL_PWD",
											"type": "Expression"
										},
										"PARAM_DS_SCHEMA_NAME": {
											"value": "@item().SCHEMA_NAME",
											"type": "Expression"
										},
										"PARAM_DS_TABLE_NAME": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ASQL_DATA_REPLICATION",
									"type": "DatasetReference",
									"parameters": {
										"PARAM_DS_ASQL_PWD": {
											"value": "@pipeline().parameters.PARAM_ASQL_PWD",
											"type": "Expression"
										},
										"PARAM_DS_AZURE_SQL_SERVER_NAME": {
											"value": "@pipeline().parameters.PARAM_AZURE_SQL_SERVER_NAME",
											"type": "Expression"
										},
										"PARAM_DS_AZURE_SQL_DATABASE_NAME": {
											"value": "@item().DATABASE_NAME",
											"type": "Expression"
										},
										"PARAM_DS_AZURE_SQL_USERNAME": {
											"value": "@pipeline().parameters.PARAM_AZURE_SQL_USERNAME",
											"type": "Expression"
										},
										"DS_SCHEMA_NAME": {
											"value": "@item().SCHEMA_NAME\r\n",
											"type": "Expression"
										},
										"DS_TABLE_NAME": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LOOKUP_PRIMARY_KEYS",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE WHERE CONSTRAINT_NAME = (\n  SELECT CONSTRAINT_NAME FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS\n    WHERE CONSTRAINT_TYPE = ''PRIMARY KEY'' AND TABLE_SCHEMA = ''', \n      item().SCHEMA_NAME,\n      ''' AND TABLE_NAME = ''',\n      item().TABLE_NAME,\n      ''')'\n    )\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_SQL_ONPREM",
									"type": "DatasetReference",
									"parameters": {
										"PARAM_DS_SQL_SERVER_NAME": {
											"value": "@pipeline().parameters.PARAM_SQL_SERVER_NAME",
											"type": "Expression"
										},
										"PARAM_DS_SQL_DATABASE_NAME": {
											"value": "@item().DATABASE_NAME",
											"type": "Expression"
										},
										"PARAM_DS_SQL_USER_NAME": {
											"value": "@pipeline().parameters.PARAM_SQL_USER_NAME",
											"type": "Expression"
										},
										"PARAM_DS_SQL_PWD": {
											"value": "@pipeline().parameters.PARAM_SQL_PWD",
											"type": "Expression"
										},
										"PARAM_DS_SCHEMA_NAME": {
											"value": "@item().SCHEMA_NAME",
											"type": "Expression"
										},
										"PARAM_DS_TABLE_NAME": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "EXECUTE_PL_DISCARD_DELETE_CT_RECORDS",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "ACT_COPY_CT_RECORDS_TO_ASQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_DISCARD_DELETED_CT_RECORDS",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PARAM_SQL_SERVER_NAME": {
										"value": "@pipeline().parameters.PARAM_SQL_SERVER_NAME",
										"type": "Expression"
									},
									"PARAM_SQL_USER_NAME": {
										"value": "@pipeline().parameters.PARAM_SQL_USER_NAME",
										"type": "Expression"
									},
									"PARAM_SQL_PWD": {
										"value": "@pipeline().parameters.PARAM_SQL_PWD",
										"type": "Expression"
									},
									"PARAM_AZURE_SQL_SERVER_NAME": {
										"value": "@pipeline().parameters.PARAM_AZURE_SQL_SERVER_NAME",
										"type": "Expression"
									},
									"PARAM_AZURE_SQL_USERNAME": {
										"value": "@pipeline().parameters.PARAM_AZURE_SQL_USERNAME",
										"type": "Expression"
									},
									"PARAM_ASQL_PWD": {
										"value": "@pipeline().parameters.PARAM_ASQL_PWD",
										"type": "Expression"
									},
									"PARAM_SCHEMA_NAME": {
										"value": "@item().SCHEMA_NAME",
										"type": "Expression"
									},
									"PARAM_TABLE_NAME": {
										"value": "@item().TABLE_NAME",
										"type": "Expression"
									},
									"PARAM_DATABASE_NAME": {
										"value": "@item().DATABASE_NAME",
										"type": "Expression"
									},
									"PARAM_CURRENT_CT_VERSION": {
										"value": "@activity('ACT_LOOKUP_CURRENT_CHANGE_TRACKING_VERSION').output.firstRow.CurrentChangeTrackingVersion",
										"type": "Expression"
									},
									"PARAM_LAST_CT_VERSION": {
										"value": "@activity('ACT_LOOKUP_LAST_CHANGE_TRACKING_VERSION').output.value[0].SYS_CHANGE_VERSION",
										"type": "Expression"
									},
									"PARAM_PRIMARY_KEYS": {
										"value": "@activity('LOOKUP_PRIMARY_KEYS').output.value[0].COLUMN_NAME",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "SP_TO_UPDATE_CHANGE_TRACKING_VERSION_copy1_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_FOR_EACH_TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_update_last_ct_version]",
					"storedProcedureParameters": {
						"CurrentTrackingVersion": {
							"value": {
								"value": "@{activity('ACT_LOOKUP_CURRENT_CHANGE_TRACKING_VERSION').output.firstRow.CurrentChangeTrackingVersion}",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_ONPREM",
					"type": "LinkedServiceReference",
					"parameters": {
						"PARAM_LS_SQL_SERVER_NAME": {
							"value": "@pipeline().parameters.PARAM_SQL_SERVER_NAME",
							"type": "Expression"
						},
						"PARAM_LS_SQL_DATABASE_NAME": "PROD_R",
						"PARAM_LS_SQL_USER_NAME": {
							"value": "@pipeline().parameters.PARAM_SQL_USER_NAME",
							"type": "Expression"
						},
						"PARAM_LS_SQL_PWD": {
							"value": "@pipeline().parameters.PARAM_SQL_PWD",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"PARAM_SQL_SERVER_NAME": {
				"type": "string",
				"defaultValue": "localhost"
			},
			"PARAM_SQL_USER_NAME": {
				"type": "string",
				"defaultValue": "c2suser"
			},
			"PARAM_SQL_PWD": {
				"type": "string",
				"defaultValue": "C2S@20232023!"
			},
			"PARAM_ADLS_CONTAINER_NAME": {
				"type": "string",
				"defaultValue": "tfadlsdatareplicationdev01"
			},
			"PARAM_ADLS_TABLE_NAMES_FILE": {
				"type": "String",
				"defaultValue": "table_names - Copy.csv"
			},
			"PARAM_AZURE_SQL_SERVER_NAME": {
				"type": "string",
				"defaultValue": "sqlsvr-kv-test02.database.windows.net"
			},
			"PARAM_AZURE_SQL_USERNAME": {
				"type": "string",
				"defaultValue": "kvtest02"
			},
			"PARAM_ASQL_PWD": {
				"type": "string",
				"defaultValue": "Password123"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-01-19T23:38:22Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}